{{ "<!-- News-->" | safeHTML }}
<section id="news">
  <div class="container">
    <div class="row">
      <div class="col-lg-12 text-center">
        <h2 class="section-heading">News &amp; Media</h2>
      </div>
    </div>
    <div class="row">
      <div class="col-md-6 col-sm-6 ">
        <h3 class="section-heading text-center">News</h2>
        <h5>On Saturday April 23rd, 100 people turned up to celebrate Waikawau Bay! A memorable day in the long history of the protection of Waikawau Bay.</h5>
        <p>We celebrated 50+ years of protection from subdivision and ongoing conservation projects at Waikawau Bay.</p>
        <p>It was such a gorgeous day in every respect, families relaxing, children playing, friends catching up, talking about how we can save this iconic bay from encroaching subdivision at the South end, overlooking the beach. </p>

        <h5>What's happening with the bulldozers?</h5>
        <p>Lots of you have asked where the subdivision is. The subdivision land is on the south side of the bay. It joins up with the DoC camp site and runs parallel to the Matamataharakeke Track.

On a map it’s marked as 891 Tuateawa Road. The developer has begun on the top of the hill overlooking Waikawau Bay. This is just the beginning though - unless we stop them.</p>
      </div>
      <div class="col-md-6 col-m5-6">
        <h3 class="section-heading text-center">In the Media</h2>
        <p>"A group of Coromandel residents are making a last-ditch attempt to raise awareness about Waikawau Bay's breathtaking coastal landscape before a nine-house development goes up..."
          <a href="http://www.nzherald.co.nz/nz/news/article.cfm?c_id=1&objectid=11627279">Battle to protect the bay (+video) - NZ Herald</a></p>

        <p>Waikawau Bay Guardians blog - <a href="http://waikawaubayguardians.blogspot.co.nz/">Visit for more news and information</a>

      </div>
    </div>
  </div>
</section>
