<div class="container">
    <div class="row">
        <div class="col-lg-6 col-md-6">
          <img src="images/protect.JPG" class="img-responsive" alt="Protect waikawau bay"/>
        </div>
        <div class="col-lg-6 col-md-6">
            <h2 class="section-heading  text-center">Who are we?</h2>
            <p class="large">We’re the Waikawau Bay Guardians, a group formed recently to save Waikawau Bay from development and to continue the 50 year long history of protecting this outstanding wilderness beach for future generations.</p>
            <p class="large">The aim of the group is to keep Waikawau Bay as the last remote beach on the Coromandel peninsula accessible by road and we are exploring ways to ensure we can protect this land from development. </p>
        </div>
    </div>
</div>
