{{ "<!-- Subdivision -->" | safeHTML }}
<section id="subdivision" class="bg-light-gray">
    <div class="container">
        <div class="row">
            <div class="col-lg-12 text-center">
                <h2 class="section-heading">Waikawau Bay is Under Threat</h2>
                <h3 class="section-subheading">Did you know there’s a nine-lot subdivision overlooking the beach planned for the South end of Waikawau Bay?</h3>
                <p class="large">Bulldozers have been in and cleared native bush for house sites and roads. Nobody was notified. </p>
                <p class="large">A bay is a bay - an entire bay; you can't have half a bay deemed as outstanding and protected, while the other half becomes scarred and carved up for development.</p>
            </div>
        </div>
        <div class="row">
          <!-- -->

          <!-- -->
          <div class="col-md-4 col-sm-6 portfolio-item">
              <span class="portfolio-link"><img src="images/lookingsouth.jpg" class="img-responsive" alt="" /></span>
              <div class="portfolio-caption">
                <h4>Looking South-East</h4>

                  <p class="text-muted">
                    The subdivision land is on the south side of the bay, seen at the far end of this picture.
                     It joins up with the Department of Conservation camp site and runs parallel to the Matamataharakeke Track.
                  </p>
              </div>
          </div>
          <!-- -->
          <div class="col-md-4 col-sm-6 portfolio-item">
              <span class="portfolio-link"><img src="images/subdivision.jpg" class="img-responsive" alt="" /></span>
              <div class="portfolio-caption">
                  <h4>Subdivision</h4>
                  <p class="text-muted">Outline of the subdivision</p>
              </div>
          </div>
          <!-- -->
          <div class="col-md-4 col-sm-6 portfolio-item">
              <span class="portfolio-link"><img src="images/diggers.jpg" class="img-responsive" alt="" /></span>
              <div class="portfolio-caption">
                  <h4>Roadworks</h4>
                  <p class="text-muted">Here are some photos of the earthworks so far. Four access roads have been carved into the hillsides overlooking the beach in recent weeks.</p>
              </div>
          </div>
        </div>
        <div class="row">

          <!-- -->
          <div class="col-md-4 col-sm-6 portfolio-item">
              <span class="portfolio-link"><img src="images/morediggers.jpg" class="img-responsive" alt="" /></span>
              <div class="portfolio-caption">
                  <h4></h4>
                  <p class="text-muted"></p>
              </div>
          </div>

          <!-- -->
          <div class="col-md-4 col-sm-6 portfolio-item">
              <span class="portfolio-link"><img src="images/subdivision-plans.jpg" class="img-responsive" alt="" /></span>
              <div class="portfolio-caption">
                  <h4></h4>
                  <p class="text-muted"></p>
              </div>
          </div>

          <!-- -->
          <div class="col-md-4 col-sm-6 portfolio-item">
              <span class="portfolio-link"><img src="images/detail-map.jpg" class="img-responsive" alt="" /></span>
              <div class="portfolio-caption">
                  <h4></h4>
                  <p class="text-muted"></p>
              </div>
          </div>


      </div>
    </div>
</section>
