{{ "<!-- Campaign update-->" | safeHTML }}
<section id="campaign-update">
    <div class="container">
        <div class="row">
            <div class="col-lg-12 text-center">
                <h2 class="section-heading">Campaign Update</h2>
            </div>
        </div>

        <div class="row">
            <div class="col-lg-12">
                <h3 class=" text-center section-heading">NEWS UPDATE SUMMER 2016 to Supporters of Save Waikawau Bay:Statement from the Waikawau Bay Guardians Trust</h3>

<p><i>28 December 2016</i></p>

<p>Dear Supporters of Waikawau Bay, <br/>
Unfortunately we have not been able to reach agreement with the vendors( Kamara Whenua Ltd) .
</p><p>
As you know, they have a resource consent for a 9 lot subdivision that would overlook Waikawau Bay from the South end above the DoC Camping Ground.
</p><p>
The Trustees of the Waikawau Bay Guardians, through our representative, have had several meetings with their lawyer over the last 6 months. However the vendors have not responded to our offer in any way. They did not respond to our formal offer to purchase the block at a price of $1.5m + GST.
</p><p>
This price came from their own suggestions earlier in the year and the Trust intended to pay a fair market price, so the vendors would not be financially disadvantaged compared to a subdivision.
</p><p>
We had the moral support of the successful crowdfunders from the Awaroa campaign, plus 700+ people on the Facebook page, and many more signed up to the mailing list on www.savewaikawaubay.com we thought we would have a good chance at raising the money!
</p><p>
We remain hopeful that if circumstances change in the future, the vendors may decide to engage with the Waikawau Bay Guardians( a registered charitable trust)
</p><p>
In the event that the Trust is able to buy the land through a crowdfunding campaign, for the people of New Zealand, this is the vision for the land we had in mind:
</p><p>
Activities on the land would be education focussed, extending walking tracks connecting with the existing Matamataharakeke track. There would be pest management without poisons, and the Trust would create experiential opportunities for the public such as understanding indigenous species, ecological succession, and experiencing night life in the bush and the night sky ( without light pollution as in cities.) Restoration of the coastal pohutukawa forest would also be an aim.
</p><p>
As it stands today, the subdivision has the legal consents to proceed, but has an Envirionment Court hearing pending, regarding the coastal overlays over the land which will impact the conditions of development. The vendors want to remove the coastal planning overlays, and other parties like the Environmental Defence Society and Forest and Bird Society want to keep the overlays. So this make take some time to resolve.
</p><p>
Time will tell, whether the dream of protecting Waikawau Bay from coastal subdivision will ever have a chance of being realised.
</p><p>
The Waikawau Bay Guardians, a registered charitable trust, have been continuing the work of many conservationists over the last 50 years, who lobbied and worked with landowners and the governments of the day, to keep Waikawau Bay a natural beach,for all the people of New Zealand. 
</p><p>
We welcome any feedback from you, our supporters. Thank you for signing up, it gave us motivation to keep trying, knowing that thousands of people out there love Waikawau Bay as a natural beach.
</p>
            </div>
        </div>

    </div>
</section>
