{{ "<!-- Campaign update-->" | safeHTML }}
<section id="campaign-update">
    <div class="container">
        <div class="row">
            <div class="col-lg-12 text-center">
                <h2 class="section-heading">Campaign Update</h2>
            </div>
        </div>

        <div class="row">
            <div class="col-lg-12">
                <h3 class=" text-center section-heading">NEWS UPDATE DECEMBER 2017 to Supporters of Save Waikawau Bay:Statement from the Waikawau Bay Guardians Trust</h3>

<p><i>24 December 2017</i></p>

<p>Dear Supporters of Waikawau Bay, <br/>
  You might be wondering what is happening with this campaign since out last update?
</p><p>

  2017 saw long drawn out Environment Court hearings that are still not compleded, so it is difficult to send out any news while these hearings are still going on. The next round of hearings is scheduled for May 2018.
</p><p>


  The arguments in the Environment Court mediation are about where various coastal planning lines should be placed in the new Thames-Coromandel District Scheme. Many organisations have been involved in these hearings which concern the whole Coromandel Peninsula coastline, not just Waikawau Bay.
</p><p>


  The various lines comprise the Coastal Environment Line, and planning overlays called Outstanding Natural Landscape and Natural Character. The outcome of these hearings may impact on the subdivision, so the developers have argued against any overlays.
</p><p>


  What is not being recognised in these Environment Court hearings is the public and national interest in keeping the beach a natural coastline.
</p><p>


  While all this has been going on, the developers have continued their road-making and installation of power.
</p><p>


  The big picture that is not even discussed in these hearings so far is the fact that the people of New Zealand through their taxes, have already spent millions preserving Waikawau Bay as a natural beach for all New Zealanders. This regional and national perspective does not seem to be relevant for both the local council and the developer.
</p><p>


  What can you do? You could take a few minutes to write to the new Minister and Associate Ministers for the Environment and tell them how much this natural beach means to you and why there should not be a housing subdivision at the south end. Please use polite language as the opposite does not help anyone. Many thanks.
</p><p>


  Remember the Nature Heritage Foundation purchased the north end of Waikawau Bay, supported by the Labour Government in 2003, and Hon. Chris Carter, the Minister for the Environment at the time, said it was one of the decisions of which he was most proud.
</p><p>


  Minister for the Environment
<br/>
  Hon David Parker
<br/>
  email: d.parker@ministers.govt.nz

</p><p>

  Associate Minister for the Environment
<br/>
  Hon Nanaia Mahuta
<br/>
  email: n.mahuta@ministers.govt.nz
</p><p>


  Associate Minister for the Environment
<br/>
  Hon Eugenie Sage
<br/>
  email: e.sage@ministers.govt.nz
</p><p>


  Until the next update, the Waikawau Bay Guardians wish you a Happy Holiday Season and maybe we'll see you at Waikawau Bay!
</p><p>




</p>
            </div>
        </div>

    </div>
</section>
