{{ "<!-- Your Help -->" | safeHTML }}
<section id="your-help">
    <div class="container">
        <div class="row">
          <div class="col-lg-6 col-md-6">
                <h2 class="section-heading  text-center">What you can do</h2>
                <h3 class="section-subheading  text-center">We are working hard to come up with a way to protect Waikawau Bay</h3>
                <p class="large">Tell us why you love Waikawau Bay. Why you think it should be saved for future generations.

Send us your favourite photograph of Waikawau Bay.  Like and share our facebook page, and sign up to our mailing list to keep informed.</p>
            </div>
          <div class="col-lg-6 col-md-6 form-group" style="padding: 10px;">
              <h5>Sign up to our mailing list</h5>
              <!-- Begin MailChimp Signup Form -->
              <form action="https://savewaikawaubay.us13.list-manage.com/subscribe/post?u=38ae51d84c5225acde5d06d86&amp;id=be9abc3501" method="post" id="mc-embedded-subscribe-form" name="mc-embedded-subscribe-form" class="validate" target="_blank" novalidate>
                <input type="email" value="" name="EMAIL" class="form-control" id="mce-EMAIL" placeholder="email address" style="margin-top: 10px;" required>
                <!-- real people should not fill this in and expect good things - do not remove this or risk form bot signups-->
                <div style="position: absolute; left: -5000px;" aria-hidden="true"><input type="text" name="b_38ae51d84c5225acde5d06d86_be9abc3501" tabindex="-1" value=""></div>
                <input type="submit" value="Subscribe" style="margin-top: 10px;"  name="subscribe" id="mc-embedded-subscribe" class="btn btn-xl">
              </form>
            </div>
        </div>
    </div>
</section>
